.centerbox{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 150px;
    background-color: #eeeeee;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.headerank{
    height:75px;
    background-color:darkslategray;
}
